{% extends "layout.html" %}

{% block content %}


<main id="sonum-banner-carto">

    <br>

    <section class="software-show container">
        
        <div class="columns">
            <div class="column is-one-third">
                <img src="https://github.com/co-demos/carto-sonum/blob/master/illustrations/illustrations_sonum_png/illu1.png?raw=true">
            </div>
            <div class="column is-two-thirds is-vertical-centered">
                <h1 class="title is-2">
                    <span>DECOUVREZ <br>LES</span>
                    <span>LIEUX DE MEDIATION <br>NUMERIQUE </span>
                    <span class="icon">
                        <i class="fas fa-arrow-down"></i>
                    </span>
                </h1>
            </div>
        </div>

    </section>



    <br>

</main>

{% endblock %}